In [1]:
import pandas as pd
import numpy as np

In [2]:
json = pd.read_json(r"\\shelter\Kyu\skin_aging\clue_cohort\wsi\hovernet_out\json\2022-06-07 13.18.40.json", orient='index')
json = pd.DataFrame(json[0].loc['nuc']).T.drop(columns=['type_prob'])
json = json[json['contour'].map(len) > 5].reset_index(drop=True)
json

,bbox,centroid,contour,type
0,"[[9746, 53047], [9767, 53058]]","[10043.722222222223, 52763.5873015873]","[[10046, 52754], [10045, 52755], [10044, 52755...",None
1,"[[9774, 53087], [9813, 53106]]","[10087.926315789473, 52803.10736842105]","[[10084, 52782], [10083, 52783], [10082, 52783...",None
2,"[[9779, 53057], [9806, 53074]]","[10056.087336244542, 52798.615720524016]","[[10056, 52787], [10055, 52788], [10055, 52789...",None
3,"[[9787, 53031], [9813, 53043]]","[10027.71978021978, 52805.32967032967]","[[10031, 52795], [10030, 52796], [10026, 52796...",None
4,"[[9805, 53057], [9820, 53066]]","[10052.82, 52820.29]","[[10053, 52813], [10052, 52814], [10051, 52814...",None
...,...,...,...,...
78467,"[[84060, 75784], [84074, 75799]]","[83983.33870967742, 75874.3870967742]","[[83980, 75868], [83979, 75869], [83977, 75869...",None
78468,"[[84194, 75960], [84212, 75975]]","[84158.90816326531, 76009.63775510204]","[[84156, 76002], [84155, 76003], [84154, 76003...",None
78469,"[[83998, 81884], [84009, 81893]]","[83936.75862068965, 81955.39655172414]","[[83938, 81950], [83937, 81951], [83937, 81952...",None
78470,"[[86190, 79657], [86203, 79676]]","[85811.52795031056, 80052.32298136647]","[[85812, 80046], [85810, 80048], [85809, 80048...",None
78471,"[[85962, 81914], [85978, 81933]]","[86019.72881355933, 81872.94915254238]","[[86017, 81866], [86016, 81867], [86015, 81867...",None

In [136]:
bbox_tmp = json["bbox"].tolist()
for idx in range(len(bbox_tmp)):
    bbox_tmp[idx] = [[int(x/2),int(y/2)] for (x,y) in bbox_tmp[idx]]
json["bbox"] = bbox_tmp

In [137]:
contour_tmp = json["centroid"].tolist()
contour_x1 = [contour_tmp[i][0]/2 for i in range(len(contour_tmp))]
contour_y1 = [contour_tmp[i][1]/2 for i in range(len(contour_tmp))]
new_contour_xy = list(zip(contour_x1,contour_y1))
new_contour_xy = [[new_contour_xy[i][0],new_contour_xy[i][1]] for i in range(len(new_contour_xy))] #,int(new_contour_xy[i][1])
json["centroid"] = new_contour_xy

In [138]:
contour_tmp = json["contour"].tolist()
for idx in range(len(contour_tmp)):
    contour_tmp[idx] = [[int(x/2),int(y/2)] for (x,y) in contour_tmp[idx]]
json["contour"] = contour_tmp

In [139]:
json

,bbox,centroid,contour,type
0,"[[4873, 26523], [4883, 26529]]","[5021.861111111111, 26381.79365079365]","[[5023, 26377], [5022, 26377], [5022, 26377], ...",None
1,"[[4887, 26543], [4906, 26553]]","[5043.9631578947365, 26401.553684210525]","[[5042, 26391], [5041, 26391], [5041, 26391], ...",None
2,"[[4889, 26528], [4903, 26537]]","[5028.043668122271, 26399.307860262008]","[[5028, 26393], [5027, 26394], [5027, 26394], ...",None
3,"[[4893, 26515], [4906, 26521]]","[5013.85989010989, 26402.664835164836]","[[5015, 26397], [5015, 26398], [5013, 26398], ...",None
4,"[[4902, 26528], [4910, 26533]]","[5026.41, 26410.145]","[[5026, 26406], [5026, 26407], [5025, 26407], ...",None
...,...,...,...,...
78467,"[[42030, 37892], [42037, 37899]]","[41991.66935483871, 37937.1935483871]","[[41990, 37934], [41989, 37934], [41988, 37934...",None
78468,"[[42097, 37980], [42106, 37987]]","[42079.454081632655, 38004.81887755102]","[[42078, 38001], [42077, 38001], [42077, 38001...",None
78469,"[[41999, 40942], [42004, 40946]]","[41968.379310344826, 40977.69827586207]","[[41969, 40975], [41968, 40975], [41968, 40976...",None
78470,"[[43095, 39828], [43101, 39838]]","[42905.76397515528, 40026.16149068323]","[[42906, 40023], [42905, 40024], [42904, 40024...",None
78471,"[[42981, 40957], [42989, 40966]]","[43009.86440677966, 40936.47457627119]","[[43008, 40933], [43008, 40933], [43007, 40933...",None

In [21]:
import pandas as pd

pkl = pd.read_pickle(r'\\shelter\Kyu\skin_aging\clue_cohort\wsi\hovernet_out\df\2022-06-07 13.18.40.pkl')

In [22]:
pkl

,bbox,centroid,contour,type,inroi,resident_area,c2t_distance,Area,Perimeter,Circularity,...,orientation,AspectRatio,Sol,Extent,EquiDia,imID,dist2nearest,oriA,oriB,local_align
0,"[[25653, 15178], [25669, 15196]]","[26450.82645089286, 14396.988839285714]","[[26450, 14389], [26450, 14389], [26448, 14389...",2,1,95599,"[78.875, 8.0, 2604.0, 469.25, 452.25, 1801.0, ...",216.5,57.213203,0.831142,...,61.602367,1.125654,0.968680,0.707516,16.602902,2022-06-07 13.18.4011337,11.597414,47.785965,54.641518,0.126348
1,"[[25662, 15203], [25673, 15216]]","[26473.506097560974, 14403.181402439024]","[[26474, 14398], [26473, 14399], [26473, 14399...",2,1,95599,"[114.5625, 0.0, 2584.0, 427.5, 412.0, 1764.0, ...",74.0,44.970562,0.459817,...,54.641518,1.931048,0.855491,0.440476,9.706685,2022-06-07 13.18.4011337,10.630146,70.961960,61.602367,0.131239
2,"[[25679, 15150], [25688, 15158]]","[26417.97076023392, 14419.269005847953]","[[26417, 14415], [26416, 14416], [26415, 14416...",2,1,95599,"[50.125, 4.0, 2674.0, 516.5, 513.0, 1868.0, 71...",40.0,28.485281,0.619482,...,21.086744,1.112633,0.879121,0.555556,7.136496,2022-06-07 13.18.4011337,11.800424,59.775425,47.785965,0.461839
3,"[[25680, 15188], [25690, 15197]]","[26456.96712802768, 14421.084775086505]","[[26456, 14416], [26456, 14417], [26455, 14417...",2,1,95599,"[111.125, 0.0, 2630.0, 449.25, 445.25, 1802.0,...",66.5,33.676619,0.736842,...,24.636820,1.116650,0.930070,0.604545,9.201654,2022-06-07 13.18.4011337,3.807887,167.598145,54.641518,0.916066
4,"[[25683, 15182], [25695, 15188]]","[26449.018292682926, 14424.881097560976]","[[26448, 14419], [26447, 14420], [26447, 14422...",2,1,95599,"[103.25, 4.0, 2640.0, 460.0, 457.5, 1815.0, 65...",31.5,29.899495,0.442785,...,167.598145,3.052977,0.828947,0.403846,6.333012,2022-06-07 13.18.4011337,3.807887,24.636820,61.602367,0.877015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11332,"[[37935, 14241], [37945, 14246]]","[37795.515923566876, 14388.210191082802]","[[37795, 14383], [37794, 14385], [37794, 14385...",10,1,304870,"[6400.0, 13576.0, 1420.0, 8832.0, 978.5, 9072....",31.5,24.714777,0.648048,...,1.917912,2.060053,0.887324,0.525000,6.333012,2022-06-07 13.18.4011337,33.105891,111.816551,17.896618,1.353266
11333,"[[37998, 14268], [38002, 14275]]","[37823.27611940299, 14448.059701492537]","[[37822, 14446], [37822, 14446], [37821, 14446...",10,1,304870,"[6392.0, 13624.0, 1307.0, 8808.0, 863.0, 8968....",15.0,16.892922,0.660529,...,111.816551,1.985380,0.882353,0.428571,4.370194,2022-06-07 13.18.4011337,31.148836,17.896618,1.917912,1.353266
11334,"[[38003, 14398], [38013, 14403]]","[37952.200892857145, 14456.25]","[[37951, 14451], [37951, 14452], [37950, 14452...",10,1,304870,"[6588.0, 13848.0, 1145.0, 8992.0, 710.0, 8976....",23.5,24.242641,0.502479,...,166.449829,2.625816,0.870370,0.470000,5.470021,2022-06-07 13.18.4011337,60.170591,17.896618,111.816551,0.761109
11335,"[[37900, 15378], [37904, 15383]]","[37908.6, 15373.86]","[[37909, 15372], [37908, 15373], [37907, 15373...",10,1,304870,"[5932.0, 13768.0, 999.0, 8112.0, 1090.0, 7348....",9.0,13.656854,0.606389,...,48.186665,1.388362,0.857143,0.360000,3.385138,2022-06-07 13.18.4011337,102.753345,84.098717,110.888710,0.388135
11336,"[[38956, 16346], [38966, 16359]]","[38880.571180555555, 16433.409722222223]","[[38883, 16428], [38883, 16429], [38882, 16429...",10,1,304870,"[5708.0, 15688.0, 2612.0, 9192.0, 1122.0, 5956...",65.5,39.899495,0.517031,...,62.018143,2.009275,0.867550,0.458042,9.132206,2022-06-07 13.18.4011337,107.681243,92.559387,14.282620,0.700909

In [11]:
bbox_tmp = pkl["bbox"].tolist()
for idx in range(len(bbox_tmp)):
    bbox_tmp[idx] = [[int(x/2),int(y/2)] for (x,y) in bbox_tmp[idx]]
pkl["bbox_20x"] = bbox_tmp
pkl['centroid_20x'] = pkl['centroid'].apply(lambda row: [_/2 for _ in row])
contour_tmp = pkl["contour"].tolist()
for idx in range(len(contour_tmp)):
    contour_tmp[idx] = [[int(x/2),int(y/2)] for (x,y) in contour_tmp[idx]]
pkl["contour_20x"] = contour_tmp

In [1]:
import os
import pickle
from tqdm import tqdm
import pandas as pd
import numpy as np

In [38]:
pkl_src=r'\\shelter\Kyu\skin_aging\clue_cohort\wsi\hovernet_out\df'
output_src=r'\\shelter\Kyu\skin_aging'
pkl_list = [x for x in os.listdir(pkl_src) if x.endswith(".pkl")]
pkl_full_list = [os.path.join(pkl_src,x) for x in pkl_list]

for idx, pkl in tqdm(enumerate(range(len(pkl_list))),desc="Pickle File Processed",colour='red',total = len(pkl_list)):
    with open(pkl_full_list[idx], 'rb') as f:
        df = pickle.load(f)
        bbox_tmp = df["bbox"].tolist()
        for idx1 in range(len(bbox_tmp)):
            bbox_tmp[idx1] = [[int(x/2),int(y/2)] for (x,y) in bbox_tmp[idx1]]
        df["bbox_20x"] = bbox_tmp
        df['centroid_20x'] = df['centroid'].apply(lambda row: [_/2 for _ in row])

        contour_tmp = df["contour"].tolist()
        for idx2 in range(len(contour_tmp)):
            contour_tmp[idx2] = [[int(x/2),int(y/2)] for (x,y) in contour_tmp[idx2]]
        df["contour_20x"] = contour_tmp
    # df dict, key is the type and the value is a DataFrame with the relevant rows
    dfs_by_type = {}
    for t in range(2, 12):
        dfs_by_type[t] = df[df['type'] == t].reset_index(drop=True)

    expanded_dfs = []
    for t, df_t in dfs_by_type.items():
        new_cols = {f"{col}_type{t}": df_t[col] for col in df_t.columns if col != 'type'}
        expanded_dfs.append(pd.DataFrame(new_cols))

    expanded_df = pd.concat(expanded_dfs, axis=1)
    imID,_ = os.path.splitext(pkl_list[idx])
    output_pth = os.path.join(output_src,imID + ".xlsx")
    # save original df
    expanded_df.to_excel(output_pth, index=False)

    # save average df
    for col in expanded_df.columns:
        if expanded_df[col].dtype not in [int, float]:
            expanded_df.drop(columns=col)
    avg_df = expanded_df.groupby('inroi_type2',as_index=False, dropna = True).mean()

    # drop all columns with inroi:
    # save average df
    with pd.ExcelWriter(output_pth, engine='openpyxl', mode='a') as writer:
        avg_df.to_excel(writer, sheet_name='averages', index=False)

Pickle File Processed:   1%|          | 2/214 [02:41<4:44:29, 80.52s/it]

PermissionError: [Errno 13] Permission denied: '\\\\shelter\\Kyu\\skin_aging\\2022-06-07 13.51.05.xlsx'

In [39]:
expanded_df

,bbox_type2,centroid_type2,contour_type2,inroi_type2,resident_area_type2,c2t_distance_type2,Area_type2,Perimeter_type2,Circularity_type2,MA_type2,...,Extent_type11,EquiDia_type11,imID_type11,dist2nearest_type11,oriA_type11,oriB_type11,local_align_type11,bbox_20x_type11,centroid_20x_type11,contour_20x_type11
0,"[[22650, 22433], [22664, 22438]]","[23459.532967032967, 21634.101648351647]","[[23458, 21626], [23458, 21628], [23458, 21629...",3.0,40564.0,"[213.0, 4.0, 80.375, 25.296875, 473.0, 3966.0,...",39.5,35.414214,0.395778,15.018906,...,0.340476,9.541312,2022-06-07 13.51.0521740,216.431282,63.323124,44.589409,0.179907,"[[9277, 12495], [9284, 12503]]","[9427.073863636364, 12352.36525974026]","[[9430, 12349], [9429, 12349], [9429, 12349], ..."
1,"[[22663, 22438], [22681, 22447]]","[23466.240610328638, 21647.962441314554]","[[23467, 21639], [23465, 21641], [23465, 21642...",3.0,40564.0,"[215.25, 0.0, 68.0, 12.0, 482.0, 3940.0, 2366....",99.0,46.485281,0.575724,19.124428,...,0.619444,11.914957,2022-06-07 13.51.0521740,71.149491,47.980709,157.980652,1.030138,"[[9332, 12725], [9340, 12731]]","[9656.18710691824, 12408.164570230609]","[[9655, 12404], [9654, 12405], [9654, 12406], ..."
2,"[[22684, 22446], [22698, 22454]]","[23474.14381270903, 21666.877926421406]","[[23473, 21660], [23472, 21660], [23472, 21660...",3.0,40564.0,"[229.125, 4.0, 60.9375, 12.0, 492.0, 3906.0, 2...",68.0,37.656854,0.602602,13.641723,...,0.555556,7.569398,2022-06-07 13.51.0521740,127.561750,35.709862,13.634857,0.662892,"[[9434, 12646], [9438, 12650]]","[9576.608418367347, 12508.744897959185]","[[9576, 12506], [9576, 12507], [9576, 12507], ..."
3,"[[22689, 22432], [22703, 22442]]","[23460.78078817734, 21672.31280788177]","[[23460, 21665], [23460, 21666], [23459, 21666...",3.0,40564.0,"[249.125, 0.0, 82.4375, 32.25, 472.0, 3912.0, ...",91.0,41.656854,0.658989,13.542336,...,0.354251,10.555021,2022-06-07 13.51.0521740,93.884237,129.063782,112.947632,0.154641,"[[9549, 12556], [9558, 12562]]","[9487.06347150259, 12626.029792746114]","[[9484, 12621], [9484, 12622], [9484, 12622], ..."
4,"[[24167, 20716], [24174, 20723]]","[23791.057553956834, 21098.622302158274]","[[23791, 21095], [23790, 21096], [23789, 21096...",3.0,40564.0,"[79.6875, 4.0, 930.5, 209.875, 1452.0, 4432.0,...",31.5,27.071068,0.540144,8.052619,...,0.392857,5.292567,2022-06-07 13.51.0521740,15.402922,123.370636,0.384224,0.870108,"[[9824, 12576], [9828, 12579]]","[10017.61, 12386.185]","[[10016, 12384], [10016, 12385], [10016, 12385..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
avg_df

,inroi_type2,resident_area_type2,Area_type2,Perimeter_type2,Circularity_type2,MA_type2,ma_type2,orientation_type2,AspectRatio_type2,Sol_type2,...,ma_type11,orientation_type11,AspectRatio_type11,Sol_type11,Extent_type11,EquiDia_type11,dist2nearest_type11,oriA_type11,oriB_type11,local_align_type11
0,1,57577.0,99.260162,42.120448,0.624957,14.441516,8.678352,84.277042,1.788061e+00,0.897881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,77023.0,113.067589,44.645803,0.640851,15.413815,9.276190,88.769904,NaN,0.909245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,141027.0,93.863338,40.925345,0.630528,14.159123,8.401501,88.732494,1.816786e+00,0.901948,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,57357.0,95.136030,41.377414,0.627045,14.382602,8.489854,83.227556,7.246266e+13,0.899878,...,5.18609,67.357913,2.39642,0.88724,0.457025,7.638986,30.939292,84.665055,83.519375,0.312465