In [1]:
import os
from PIL import Image
from natsort import natsorted
from DLcomposition import DLcomposition
import pandas as pd

dlsrc = r'\\fatherserverdw\kyuex\clue images\1um\classification_v9_combined'
roisrc = r'\\fatherserverdw\kyuex\clue images\annotations\roi\labeledmask'

roilist = [_ for _ in os.listdir(roisrc) if _.endswith('png')]
dllist = [_.replace('png','tif') for _ in roilist]
roilist = [os.path.join(roisrc,_) for _ in roilist]
dllist = [os.path.join(dlsrc,_) for _ in dllist]

roilist=natsorted(roilist)[0:1]
dllist=natsorted(dllist)[0:1]

dfs =[]
for idx,(roi,dl) in enumerate(zip(roilist,dllist)):
    print(idx,'/',len(roilist),os.path.basename(roi))
    roi = Image.open(roi)
    dl = Image.open(dl)
    df = DLcomposition(roi,dl)
    dfs.append(df)

df2 = pd.concat(dfs, ignore_index=True)
# df2.to_csv('CLUEcomposition2.csv')

0 / 1 2022-06-07 14.27.44.png

In [2]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,59902922,472052,290099,11028,33756,85885,117395,71069,94596,130509,175733934,66180751
1,243221074,941976,649235,38061,79533,184034,121100,140723,173137,182782,52980012,4412329

In [7]:
df['imagename'] = os.path.basename(roilist[0])

,0,1,2,3,4,5,6,7,8,9,10,11,imagename
0,59902922,472052,290099,11028,33756,85885,117395,71069,94596,130509,175733934,66180751,2022-06-07 14.27.44.png
1,243221074,941976,649235,38061,79533,184034,121100,140723,173137,182782,52980012,4412329,2022-06-07 14.27.44.png

In [8]:
LUT = pd.read_excel(r"\\fatherserverdw\kyuex\imlist_all.xlsx")
LUT.head()

,index,gender,age,pid,path,filename,year,sample id,label name,sub label,...,note,Block or Slide?,"hypodermis (1=yes, 0=no)","healthy score (0=undecided, 1=cannot use, 2=some parts can be used, 3=one of the section can be used as whole, 4=more than one section, 5=all sections are free of damage)",score note,student score,ROI ANNOTATED (0 :not annotated 1.annotated),roi reviewed,Inbal Score,Inbal comment
0,311,M,44.128415,NaN,\\fatherserverdw\Q\research\images\clue_batch2...,2022-06-09 17.17.37.ndpi,4,17773,04-17773,A,...,NaN,Both,0,NaN,NaN,2,1,NaN,NaN,NaN
1,92,M,45.616438,NaN,\\fatherserverdw\Q\research\images\clue_batch2...,2022-06-10 18.30.09.ndpi,3,9554,03-9554,B,...,NaN,Slide,0,NaN,NaN,2,1,NaN,NaN,NaN
2,90,M,45.616438,NaN,\\fatherserverdw\Q\research\images\clue_batch2...,2022-06-09 18.56.09.ndpi,3,9554,03-9554,C,...,NaN,Slide,0,NaN,NaN,4,0,NaN,NaN,NaN
3,91,M,45.616438,NaN,\\fatherserverdw\Q\research\images\clue_batch2...,2022-06-09 22.00.47.ndpi,3,9554,03-9554,A,...,NaN,Slide,0,NaN,NaN,2,1,NaN,NaN,NaN
4,472,F,49.445153,NaN,\\fatherserverdw\Q\research\images\clue_batch2...,2022-06-08 18.23.12.ndpi,5,15878,05-15878,2,...,BENIGN,Both,1,2.0,"sun damage,some inflammation",2,1,NaN,NaN,NaN